app = "thekitchen"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  path = "/"
  protocol = "http"
  timeout = "5s"
  retries = 3

[env]
  FLASK_ENV = "production"
  FLY_APP_NAME = "thekitchen"
